.employees-container {
  margin: 0;
  padding: 0;
}

.left-side {
  margin: 0;
  background: #ffb75e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ed8f03,
    #ffb75e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ed8f03,
    #ffb75e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.right-side {
  margin: 0;
  padding-top: 20vh;
}

.employeeCard {
  margin-left: auto;
  margin-right: auto;
}
.employeeCard__body {
  padding-top: 2rem;
  padding-bottom: 2rem;
  cursor: pointer;
  transition: margin-left 0.25s ease-in, box-shadow 0.25s ease-out;
}
.employeeCard__body:hover {
  -webkit-box-shadow: 0px 13px 29px -12px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 13px 29px -12px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 13px 29px -12px rgba(0, 0, 0, 0.45);
  margin-left: 0.3vw;
}

.stats-block {
  border-radius: 0.7vw;
  padding-top: 0.7vw;
  background-color: white;
  -webkit-box-shadow: 0px 0px 29px -12px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 29px -12px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 29px -12px rgba(0, 0, 0, 1);
}
.stats-header {
  text-align: center;
  font-weight: 600;
}
.stats-content {
  text-align: center;
  font-size: 1.4em;
  font-weight: 700;
}

.employee {
  border: 1px solid #b1acac50;
  border-radius: 0.6vw;
  background-color: white;
  margin: 15vh auto 10vh;
  padding: 2vw;

  -webkit-box-shadow: -6px 7px 12px -4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: -6px 7px 12px -4px rgba(0, 0, 0, 0.6);
  box-shadow: -6px 7px 12px -4px rgba(0, 0, 0, 0.6);
}
.employee-image {
  text-align: right;
  padding-right: 5vw;
}
.employee__main-info-type {
  font-weight: 500;
  margin-top: 2vh;
}
.employee__main-info-value {
  text-align: left;
  margin-top: 2vh;
}
.employee__tabs {
  margin-top: 5vh;
}
.employee__tabs a:hover {
  border-color: #007bff60;
}
.employee__tabs a:hover .icon,
.employee__tabs > a.active .icon {
  color: #007bff;
}
.employee__tabs > a.active {
  border-color: #007bff;
}

.employee__other-info-type {
  font-weight: 500;
}
.employee__other-info-value {
  text-align: left;
}

.phone {
  display: flex;
}

.employee-card {
  margin: 5px 7px 9px 7px;
  background: #ffffff;
  -webkit-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.45) !important;
  -moz-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.45) !important;
  box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.45) !important;
}
