.navbar {
    width: 100%;
    padding: 1.5vh;
    position: sticky;
    top: 0;
    left:0;
    right:0;
    z-index:99;
    background-color: #d2d6dd;
}
.profile-icon {
    color: grey;
    height: auto;
    width: 40px;
    margin-right: 2%;
}

.profile-icon:hover {
    color: black;
    height: auto;
    width: 40px;
    margin-right: 2%;
}

.main-dropdown {
    margin-top: 14px
}