.navbar {
    width: 100%;
    padding: 1.5vh;
    position: sticky;
    top: 0;
    left:0;
    right:0;
    z-index:99;
    background-color: white;
    -webkit-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
}
.profile-icon {
    color: grey;
    height: auto;
    width: 40px;
    margin-right: 2%;
}

.profile-icon:hover {
    color: black;
    height: auto;
    width: 40px;
    margin-right: 2%;
}

.main-dropdown {
    margin-top: 14px
}

.drag-icon {
    margin-top: 17px;
}

.svelte-1q4wean {
    width: 40px !important;
    height: 30px !important;
    fill: black !important;
}

.project-button {
    width: 0px !important;
    height: auto !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-right: 40px !important;
}

.workspaces {
    outline: none !important;
    color: black !important;
}

.dropdown-link:hover {
    cursor: default;
}

.project-icon {
    height: auto !important;
    width: 60px !important;
    margin-left: 18px !important;
}

.project-icon:hover {
    fill: #007bff !important;
}

.workspace-icon {
    margin-top: 8px !important;
    margin-left: 10px !important;
    fill: #ed8f03 !important;
}


